import javafx.application.Application;
import javafx.geometry.Point2D;
import javafx.geometry.Pos;
import javafx.scene.Scene;
import javafx.scene.control.Label;
import javafx.scene.control.TextField;
import javafx.scene.layout.BorderPane;
import javafx.scene.layout.HBox;
import javafx.scene.layout.Pane;
import javafx.scene.shape.Line;
import javafx.stage.Stage;


public class Foothill extends Application {

   // main function
   public static void main(String[] args) 
   {
      launch(args);
   }

   public void start(Stage primaryStage)
   {
      KochSnowFlakePane trianglePane = new KochSnowFlakePane(); 
      TextField tfOrder = new TextField(); 
      tfOrder.setOnAction(
        e -> trianglePane.setOrder(Integer.parseInt(tfOrder.getText())));
      tfOrder.setPrefColumnCount(4);
      tfOrder.setAlignment(Pos.BOTTOM_RIGHT);

      // Pane to hold label, text field, and a button
      HBox hBox = new HBox(10);
      hBox.getChildren().addAll(new Label("Enter an order: "), tfOrder);
      hBox.setAlignment(Pos.CENTER);
	        
      BorderPane borderPane = new BorderPane();
      borderPane.setCenter(trianglePane);
      borderPane.setBottom(hBox);
	      
      // Create a scene and place it in the stage
      Scene scene = new Scene(borderPane, 200, 210);
      primaryStage.setTitle("Koch SnowFlake");
      primaryStage.setScene(scene);
      primaryStage.show();
	      
      scene.widthProperty().addListener(ov -> trianglePane.paint());
      scene.heightProperty().addListener(ov -> trianglePane.paint());

   }
   
   /****** Embedded class ****/
   /** Pane for displaying fractal */
   public static class KochSnowFlakePane extends Pane
   {
      private int order; // order of Koch fractal

      // constructor
      public KochSnowFlakePane() {
         // set default value for order
    	 order = 0;
      }

      // mutator for order
      public void setOrder(int i) {
         order = i;
         paint();
      }
      
      // create three points and call the display method
      protected void paint() {
         // Select three points in proportion to the pane size
         Point2D p1 = new Point2D(getWidth() / 2, 10);
         Point2D p2 = new Point2D(10, getHeight() - 10);
         Point2D p3 = new Point2D(getWidth() - 10, getHeight() - 10);
          
         this.getChildren().clear(); // Clear the pane before redisplay
         
         displayKochSnowFlake(order, p1, p2);
         displayKochSnowFlake(order, p3, p1);
         displayKochSnowFlake(order, p2, p3);
      }

      // recursive method that creates lines and display the line for the Koch fractal
      private void displayKochSnowFlake(int order, Point2D p1, Point2D p2) 
      {
         if (order == 0)
         {
            // base case
            Line l1 = new Line(p1.getX(), p1.getY(), p2.getX(), p2.getY());
            this.getChildren().addAll(l1); // display line between two points
         }
         else
         {
            int deltaX = (int) (p2.getX() - p1.getX()); // differences of x-coordinate of two points
            int deltaY = (int) (p2.getY() - p1.getY()); // differences of y-coordinate of two points
            //Some of the math to get you down the right path
            Point2D x = new Point2D(p1.getX() + deltaX / 3, p1.getY() + deltaY / 3);
            Point2D y = new Point2D(p1.getX() + deltaX * 2 / 3, p1.getY() + deltaY * 2 / 3);
            Point2D z = new Point2D(
              (p1.getX() + p2.getX()) / 2 + Math.cos(Math.toRadians(30)) * (p1.getY() - p2.getY()) / 3,
              (p1.getY() + p2.getY()) / 2 + Math.cos(Math.toRadians(30)) * (p2.getX() - p1.getX()) / 3);
             
            // Recursively display snow flakes on lines
            displayKochSnowFlake(order - 1, p1, x);
            displayKochSnowFlake(order - 1, x, z);
            displayKochSnowFlake(order - 1, z, y);
            displayKochSnowFlake(order - 1, y, p2);
         }  
      }  
   }
}
